---
- name: Install Nginx (Debian/Ubuntu)
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Install Nginx (RedHat/Amazon)
  yum:
    name: nginx
    state: present
  when: ansible_facts['os_family'] == 'RedHat'

- name: Ensure Nginx service is enabled and started
  service:
    name: nginx
    state: started
    enabled: true

# STATIC MODE
- name: Create web root (static mode)
  file:
    path: /var/www/html
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'static'

- name: Deploy index.html (static mode)
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: "0644"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'static'

- name: Deploy default site (static mode on Debian)
  template:
    src: default_static.j2
    dest: /etc/nginx/sites-available/default
    owner: root
    group: root
    mode: "0644"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'static'
  notify: Reload Nginx

- name: Enable default site (static mode on Debian)
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link
    force: true
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'static'
  notify: Reload Nginx

# FLASK MODE
- name: Deploy Flask reverse-proxy site (Debian)
  template:
    src: flask_site.j2
    dest: /etc/nginx/sites-available/flaskapp
    owner: root
    group: root
    mode: "0644"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'flask'
  notify: Reload Nginx

- name: Disable default site if present (Debian)
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'flask'
  notify: Reload Nginx

- name: Enable Flask site (Debian)
  file:
    src: /etc/nginx/sites-available/flaskapp
    dest: /etc/nginx/sites-enabled/flaskapp
    state: link
    force: true
  when:
    - ansible_facts['os_family'] == 'Debian'
    - nginx_mode | default('static') == 'flask'
  notify: Reload Nginx
