extends: default

rules:
  # keep strict boolean usage
  truthy:
    allowed-values: ['true', 'false']
    level: error

  # ignore multiple empty lines; just warn
  empty-lines:
    max: 1
    max-end: 0
    level: warning

  # enforce bracket spacing like [main, master]
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
    level: error

  # long lines only warn
  line-length:
    max: 160
    allow-non-breakable-words: true
    level: warning

  # no need for '---' YAML doc start
  document-start: disable

  # consistent indentation
  indentation:
    indent-sequences: consistent
