
##########################################
#  Managed by Ansible - Local Setup Pack #
#  Host: {{ ansible_hostname }}
#  Distro: {{ ansible_distribution }} {{ ansible_distribution_version }}
#  Last run: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
##########################################
